*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body{
    height: 100%;
    width: 100%;
    font-family: 'Matter';
}
.main{
    height: 100vh;
    width: 100%;

}
.main #page1{ 
    width: 100%;
   

}
#nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;

}
#nav h2{
    color: black;
    font-family: 'Matter';
    /* padding: 1.5vw 2vw; */
    padding-top: 2.5vw;
    padding-left: 4vw;
    font-size: 1.8vw;

}
#nav-right i{
    position: fixed;
    right: 2%;
    font-size: 1.1vw;
}

#nav-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1vw;
    padding-top: 2.5vw;
    padding-right: 4vw;
    
} 
#nav-right h4{
    font-size: 1.2vw;
    font-weight: 500
}

#page1 #text{
    /* padding: 5vw 6vw; */
    padding-top: 8vw;
    padding-left: 6vw;
    font-size: 4vw;
    font-family: 'Roboto Flex';
}
#text h2{
    font-weight: 400;
    
}
#text h1{
    font-weight: 600;

}
#text span{
    font-weight: 600;
}
#inov{
    display: flex;
    justify-content: flex-start;
    gap: 1.5vw;
    align-items: center;
}

#intro{
    
    height: 8vw;
    width: 12vw;
    border: 1px rgb(234, 231, 231) solid;
    border-radius: 60px;
    overflow: hidden;
}
#intro video{
    object-fit: cover;
    height: 8vw;
    width: 12vw;
}

#page2{
    width: 100%;
    /* background-color: black; */
    padding-top: 10vw;
    z-index: 2;
    
}
#page2 video{
    height: 100vh;
    border: 1px solid #E4E2E6;
    

    width: 100%;
    /* border-top-left-radius: 80px;
    border-top-right-radius: 80px; */
    
    background-color: #E4E2E6;
    /* object-fit: cover; */
    padding-bottom: 15vw;
    z-index: 2;

}
#page3{
    width: 100%;
    overflow: hidden;
    background-color: black;
    height: 200vh;
    border: 1px solid black;
    position: absolute;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -5vw;
    filter: drop-shadow(-10px 10px 20px #000);
    
   
}
#page3 h1{
    color: white;
    font-family: 'Roboto Flex';
    font-weight: 100;
    padding: 6vw 7vw;
    padding-bottom: 0vw;
    font-size: 5vw;
}
#page3 .events{
    width: 60%;
    min-height: 80%;
    margin: 3vw 4vw;
    margin-left: 6vw;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 6vw;
    
}
.events .events1{
    margin-top: -15vw;
    width: 25vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    
   
}
.events .events2{
    margin-top: 7vw;
    width: 25vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    padding-top: 0vw;
   
}
.events1 .track1{
    /* width: 100%;
    height: 30vw; */
    /* border-radius: 25px;
    background-color: #fff; */
}
.events1 h2{
    /* margin-top: -3vw;
    margin-left: -10vw;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 300; */

}
.events1 .track2{
    /* width: 100%;
    height: 30vw;
    border-radius: 25px;
    background-color: #fff; */
}


.events2 .track3{
    /* width: 100%;
    height: 30vw;
    border-radius: 25px; */
    /* background-color: #fff; */
}
.events2 h2{
    /* margin-top: -3vw;
    margin-left: -10vw;
    color: #fff;
    font-size: 1.5vw;
    font-weight: 300; */
}
.events2 .track4{
    /* width: 100%;
    height: 30vw;
    border-radius: 25px;
    background-color: #fff; */
}
.track1 img{
   width: 250px;
   border-radius: 18px;
    /* height: 460px; */
}
.track3 img{
   width: 250px;
   border-radius: 18px;
    /* height: 460px; */
}
.track4 img{
   width: 250px;
   border-radius: 18px;
    /* height: 460px; */
}
.track2 img{
   width: 250px;
   border-radius: 18px;
    /* height: 460px; */
}

.dash{
 padding-left: 6vw;
 padding: 2vw;
}
/* chart1*/

#chart1{
    margin-left: 1vw;
    width: 60vw;
    height: 25vw;
}
#chart-container{
    width: 25vw;
    /* border: #000 solid 1px;
    border-radius: 10px;
    box-shadow: #000; */
}
.dash2{
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
}

#chart-container h3{
    color: rgb(243, 100, 100);
    padding: 1vw;
    text-align: center;
}



.carde{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 3vw;
    padding: 3vw;
    font-family: 'Matter';
    width: 55%;
    margin-left: 3vw;
}

.income{
    text-align: center;
    
    width: 50%;
}
.expense {
    text-align: center;
    width: 50%;
}

.percentage-increase {
    color: green;
}

.percentage-decrease {
    color: red;
}